/* GENERAL STYLES */

html {
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
}

.container {
	width: 90%;
	margin: 0 auto;
}

/* HEADER */

header {
	background-color: #000;
	padding: 2.4rem;
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	color: #fff;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 2.4rem;
	flex-grow: 1;
}

.main-nav .search-input {
	display: flex;
}

.main-nav .search-input input {
	padding: 0.6rem 1.2rem;
	font-size: 1.6rem;
	display: block;
	border: none;
}

.main-nav .search-input button {
	padding: 0.6rem 1.2rem;
	font-size: 1.6rem;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.main-nav .search-input input::placeholder {
	font-size: 1.6rem;
}

/* MAIN */

main {
	display: grid;
	grid-template-columns: fit-content(50%);
	grid-auto-flow: column;
}

/* CURRENT TEMP */

.current-weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.2rem;
	background-color: #ddd;
	/* text-align: center; */
	position: relative;
}

.location {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	align-self: flex-start;
}

.current-city {
	font-size: 1.2rem;
	font-weight: 600;
}

.current-temp {
	font-size: 4.8rem;
	margin-bottom: -0.6rem;
}
.current-icon {
	width: 96px;
	margin-bottom: -1.4rem;
}

.city-temp {
	display: flex;
	gap: 0.8rem;
	align-items: baseline;
}

.city-temp h2 {
	font-size: 2.4rem;
	font-weight: 600;
}

.city-temp span {
	font-size: 1.6rem;
	font-weight: 600;
}
.city-temp h3 {
	font-size: 1.6rem;
}

.weather-description-container {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	font-size: 1.6rem;
	margin-top: -1rem;
}

.wind-humid-container {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.wind-container,
.humid-container {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

/* LOADER */

.loader {
	position: absolute;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: rgba(222, 222, 222, 0.9);
}

.lds-roller {
	top: 20%;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	transform: scale(0.6);
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.hide {
	display: none;
}
